[user]
	useConfigOnly = true
[push]
	default = current
[core]
	editor = vim
[branch]
	autosetuprebase = always
[rebase]
	autosquash = true
[merge]
	tool = kdiff3
[status]
	submodulesummary = true
[gc]
	worktreePruneExpire = now
[fetch]
	prune = true

# core.excludesFile should be set in .gitconfig_local
# mergetool.kdiff3.path should be set in .gitconfig_local
[include]
  path = "/Users/kmfreese/.gitconfig_local"
[filesystem "AdoptOpenJDK|1.8.0_265|/dev/disk1s1"]
	timestampResolution = 1001 milliseconds
	minRacyThreshold = 0 nanoseconds
